# Build...
/build/

# Log files.
*.sdl

# Class files
*.class

# The decode jar
cap/Decode.jar

# emacs files
*~

# TODO.txt file
TODO.txt

# commit file
COMMIT.txt

# cscope
cscope.*

# Log files
*.log

# Snet log files
*.snet